body{
  background-color: #BBFFBB;
}
#globalnavi{
  margin: 0;
  padding: 0;
  width: ***;
}

#globalnavi ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#globalnavi li{
  float: left;
  width: 50px;
  margin: 0;
  padding: 0;
}
#globalfooter div{
  text-align: center;
  display:block;
  padding: 0;
  width: 100%;
  background-color: black;
  color: white;
}
#globalnavi a{
  text-align: center;
  display:block;
  padding: 0.5em 0;
  width: 100%;
  background-color: black;
  color: white;
}

#globalnavi a:hover{
  background-color: red;
  color: white;
}