#menu-wrap div{
  width: 100%;
  height: 40px;
  box-shadow: 0 1px 10px #333;
  background: #2f2b3f;
  position:fixed;
}
#globalfooter div{
  width: 100%;
  height: 40px;
  box-shadow: 0 1px 10px #333;
  background: #2f2b3f;
  position:fixed;
  bottom:0px; 
  left:0px;
}
#footermenu {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position:fixed; 
  bottom:0px; 
  left:0px;
  background: #8a9b0f;
}
#content div{
  margin: 0;
  padding: 0;
  position:absolute;
}
#dropmenu {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position:fixed;
  top:0px;
  left:0px;
  background: #8a9b0f;
}
#dropmenu li {
  position: relative;
  width: auto;
  float: left;
  margin: 5px;
  padding: 0;
  text-align: center;
}
#dropmenu li a {
  display: block;
  margin: 0;
  padding: 0;
  background: #8a9b0f;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
#dropmenu li ul {
  list-style: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
#dropmenu li ul li {
  overflow: hidden;
  width: 60px;
  height: 0;
  color: #fff;
  transition: .2s;
}
#dropmenu li ul li a {
  padding: 0;
  background: #7c8c0e;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}
#dropmenu > li:hover > a {  background: #7c8c0e }
#dropmenu > li:hover li:hover > a {  background: #6e7c0c }
#dropmenu > li:hover > ul > li {
  overflow: visible;
  height: 38px;
}
#dropmenu li ul li ul {
  top: 0;
  left: 100%;
}
#dropmenu li:last-child ul li ul {
  left: -100%;
  width: auto;
}
#dropmenu li ul li ul:before {
  position: absolute;
  content: "";
  top: 13px;
  left: -20px;
  width: auto;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #454e08;
}
#dropmenu li:last-child ul li ul:before {
  position: absolute;
  content: "";
  top: 13px;
  left: 200%;
  margin-left: -20px;
  border: 5px solid transparent;
  border-right-color: #454e08;
}
#dropmenu li ul li:hover > ul > li {
  overflow: visible;
  height: 38px;
}
#dropmenu li ul li ul li a {  background: #616d0b }
#dropmenu li:hover ul li ul li a:hover {  background: #535d09 }
