<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="
          http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
          http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
          http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
        ">
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	 <property name="driverClassName" value="com.mysql.jdbc.Driver" />
	 <property name="url" value="jdbc:mysql://localhost/zwsdb" />
	 <property name="username" value="root" />
	 <property name="password" value="admin" />
	</bean>
	<!-- DAO -->
	<bean id="bumonDao" class="dao.jdbc.BumonDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="donjonItemDao" class="dao.jdbc.DonjonItemDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="oldcoinDao" class="dao.jdbc.OldcoinDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="shainDao" class="dao.jdbc.ShainDaoImpl"></bean>
	
	<!-- Service -->
	<bean id="bumonService" class="service.impl.BumonServiceImpl">
		<property name="bumonDao" ref="bumonDao"/>
	</bean>
	<bean id="donjonItemService" class="service.impl.DonjonItemServiceImpl">
		<property name="donjonItemDao" ref="donjonItemDao"/>
	</bean>
	<bean id="oldcoinService" class="service.impl.OldcoinServiceImpl">
		<property name="oldcoinDao" ref="oldcoinDao"/>
	</bean>
	<bean id="shainService" class="service.impl.ShainServiceImpl">
		<property name="shainDao" ref="shainDao" />
	</bean>
	<bean id="setupService" class="service.impl.SetupServiceImpl">
		<property name="shainDao" ref="shainDao" />
		<property name="bumonDao" ref="bumonDao" />
	</bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	<property name="location" value="jdbc.properties" />
	</bean>
</beans>
